.game {
  width: 100%;
  height: 96vh;
  background-color: rgb(224, 230, 230);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameStatus {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.launchButton {
  width: 100%;
  color: red;
}
